// Colors
$blue: #0076F5
$blue-light: #70B5FF
$gray: #333333
$platinum: #E5DFDC
$silver: #CBBFB9
$smoky-black: #100C05

body
  padding: 5px
  background-color: $platinum

// Atomic components
@import ./atom/info

// Composed
@import ./composed/app
@import ./composed/AuthType
@import ./composed/ConnectorResponseTable
@import ./composed/ConnectorRequestBodyTable
@import ./composed/Content
@import ./composed/CurlRequestExtractor
@import ./composed/StatusMappingPopup
