// Colors
$blue: #0076F5
$blue-light: #70B5FF
$gray: #333333
$platinum: #E5DFDC
$silver: #CBBFB9
$smoky-black: #100C05
$off-white: #FEFEFE

body
  padding: 5px
  background-color: $platinum

@import ./common
@import ./composed/app
@import ./composed/AuthType

