// Colors
$blue: #0076F5
$blue-light: #70B5FF
$gray: #333333
$platinum: #E5DFDC
$silver: #CBBFB9
$smoky-black: #100C05
$off-white: #FEFEFE
$crimson-red: #D32240

body
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  padding: 5px
  background-color: $platinum

code
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace

@import ./common
@import ./composed/app
@import ./composed/AuthType

