.auth-type
  display: flex
  flex-flow: column
  gap: 30px
  margin-left: 50px

  &-subheader > code
    color: $gray
  &-flow-type > .dropdown
    margin-top: 10px
    select
      max-width: 100px
      & > option:first-child
        font-size: 13px
  &-content
    display: flex

  .header
    font-size: 30px
    font-weight: 600
  .flow-type-header
    font-weight: 600
    font-size: 19px

  &-header-map
    width: max-content
    height: max-content
    overflow: hidden
    transition: width 0.3s ease
    border-radius: 5px
    border: 1px solid $silver
    margin-right: 30px
    & > div
      padding: 25px
    .header
      font-size: 20px
      border-bottom: 1px solid $silver
      background-color: $platinum
      .subheading
        font-size: 15px
        font-weight: 400
        margin-top: 5px
    .content
      background-color: white
      display: grid
      grid-template-columns: auto 1fr
      gap: 20px
      .auth-key
        &-field
          margin-right: 20px
          &-value
            font-weight: 600
            font-size: 18px
            display: flex
            flex-flow: column
          &-info
            font-size: 12px
    .footer
      display: flex
      font-size: 15px
      justify-content: flex-end
      .button
        cursor: pointer
        padding: 10px 15px
        border: 1px solid $silver
        border-radius: 4px
      .clear
        margin-right: 10px
        background-color: $platinum
      .save
        color: white
        background-color: $blue
        &.disabled
          cursor: not-allowed
          background-color: $blue-light

  &-code-snippets
    background-color: $smoky-black
    color: white
    width: max-content
    border-radius: 5px
    .code-snippet-header
      display: flex
      font-size: 13px
      .integration
        cursor: pointer
        font-size: 15px
        font-weight: 600
        padding: 10px 20px
        border-bottom: 1px solid $gray
        &.selected
          border-bottom: 1px solid $blue
          color: $blue
      .copy-to-clipboard
        cursor: pointer
        padding: 10px 20px
        &:hover
          color: $blue

.material-input
  padding: 10px 15px
  font-size: 16px
  border: 1px solid #ccc
  border-radius: 3px
  transition: border-color 0.3s ease, box-shadow 0.3s ease
  font-size: 13px
  height: max-content

.material-input:focus
  outline: none
  border-color: #007bff
  box-shadow: 0 0 2px rgba(0, 123, 255, 0.5)
