.curl-request-editor
  grid-column: 1 / -1
  width: 80%
  align-self: center
  justify-self: center
  .curl-input-section
    width: auto
    display: flex
    align-items: center
    flex-flow: column
    textarea
      min-height: 300px
      max-height: 500px
      max-width: 100%
      width: 90%
      padding: 20px

.api-data-editor
  grid-column: 1 / -1
  display: grid
  grid-template-columns: 2fr 1fr
  .data-viewer
    .table
      display: grid
      grid-auto-flow: row
      &-row
        display: grid
        grid-auto-flow: column
      &-cell
        margin: 10px
  & > div
    display: flex
    flex-flow: column

.request-body-section
  grid-column: 1 / -1
  flex-direction: row !important
  flex-flow: row !important
  padding-left: 20px
  .request-headers-mapping
    min-width: 30vw
    margin-left: 20px
.response-body-section
  display: flex
  grid-column: 1 / -1
  gap: 20px
  padding: 20px
  .response-body-fields-mapping
    margin-left: 20px

.code-generator, .rust-code-preview
  grid-column: 1 / -1

.rust-code-preview
  display: grid
  grid-template-columns: repeat(2, 1fr)
  h3
    grid-column: 1 / -1
  & > div
    margin: 10px
    overflow: scroll
